*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing:borer-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust:font-size: 100%;
	-moz-text-size-adjust:font-size: 100%;
	-webkit-text-size-adjust:font-size: 100%;	
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	background: #e8e8e8 url('../img/Ellipse-1-copy.png') 50% 130px no-repeat;
}

.content {
	padding: 168px 0 137px 0;
	max-width: 841px;
	margin: 0 auto;
}

.content-top {
	text-align: center;
	margin: 0 0 62px 0;
}
.content-top_category {  
	margin: 0 0 15px 0;
	letter-spacing: 3px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #bec1c3;
	text-transform: uppercase;
}
.content-top_title {
	line-height: 50px;
	font-size: 36px;
	color: #4e7a8b;
	max-width: 725px;
	margin: 0 auto;
}

.content-image {
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
	background-color: #fff;
	padding: 10px;
	margin: 0 0 86px 0;
}
.content-image img{
	max-width: 100%;
}

.content-bottom {
	padding: 0 45px;
}

.content-bottom_text {
	font-size: 24px;
	color: #5e6a70;
	line-height: 40px;
	text-align: left;
	margin: 0 0 49px 0;
	
}
.content-bottom_text p{
	margin: 0 0 40px 0;
}
.content-bottom_text p:last-child{
	margin: 0;
}

.content-bottom_info {}
.content-bottom_info_list {
	margin: 0 0 60px 0;
}

.content-bottom_info_list li{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	margin: 0 0 15px 0;	
	background: url('../img/icons/check-icon.png') left no-repeat;
	padding: 0 0 0 32px;
}
/*Убрали отступ от последнего элемента списка*/
.content-bottom_info_list li:last-child{
	margin: 0;
}

.content-bottom_info_list li:nth-child(1){
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	color: #273d46;
}
.content-bottom_info_list li:nth-child(2){
	color: #80b7b3;
	font-style: italic;
}
.content-bottom_info_list li:nth-child(3){
	color: #273d46;
	font-weight: 700;
}
.content-bottom_info_list li:nth-child(4){
	color: #273d46;
	text-decoration: line-through;
}
.content-bottom_info_list li:nth-child(4) span{
	opacity: 0.3;
}

.content-bottom_info_link {
	height: 44px;
	display: inline-block; 
	background-color: #80b7b9;
	line-height: 44px;
	border-radius: 20px;
	padding: 0 30px;
	-webkit-box-shadow: 0px 5px 1px black;
	box-shadow: 0px 5px 1px black;	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}

.content-bottom_info_link span{
	padding: 0 25px 0 0; 
	background: url('../img/icons/arrow.png') right no-repeat;
}
.content-bottom_info_link:hover{
	background-color: green;
}
.content-bottom_info_link:active{
	position: relative;
	top: 3px;
	
	-webkit-box-shadow: 0px 5px 1px black;
	box-shadow: 0px 5px 1px black;
}

